---
- name: Create VM group on RDO cloud
  os_server:
    cloud: rdocloud
    state: present
    name: "{{ item.value.name }}"
    image: "{{ item.value.image | default('CentOS-7-x86_64-GenericCloud-1804_02') }}"
    key_name: "{{ ssh_key_name }}"
    nics:
      - net-name: "{{ item.value.net }}"
    auto_ip: yes
    security_groups: "{{ item.value.security_groups | default (['ssh_icmp']) }}"
    flavor: "{{ item.value.flavor }}"
  with_dict: "{{ vms }}"
  register: os_hosts

- name: Create host list out of os_server output
  set_fact:
    hosts: >
      {{ hosts|default([]) +
        [ {'host': item.item.value.name,
           'groups': item.item.value.groups,
           'ip': item.server.public_v4} ]
      }}
  with_items: "{{ os_hosts.results }}"
  loop_control:
    label: "{{ item.item.value.name }} {{ item.item.value.groups }}"

- name: Create openshift-ansible inventory
  template:
    src: "{{ create_inventory.template }}"
    dest: "{{ create_inventory.dest }}"
  when: create_inventory is defined

- name: Add hosts to the runtime inventory
  add_host:
    name: '{{ item.host }}'
    groups: '{{ item.groups }}'
    ansible_host: "{{ item.ip }}"
    ansible_user: centos
    ansible_become: true
    ansible_ssh_private_key_file: '{{ ssh_private_key if ssh_private_key | default(false)  else omit }}'
    host_key_checking: false
    ansible_ssh_extra_args: '-o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null'
  with_items: "{{ hosts }}"
  changed_when: False
  when: add_to_runtime_inventory == true

- name: waiting for server to come up
  local_action: wait_for host="{{ item.ip }}"
            port=22
            state=started
            delay=2
            timeout=300
  with_items: "{{ hosts }}"
