# Vim
.*.sw?

# Ansible
*.retry

# Credentials
clouds.yml

# Tox
.tox/

*idea*

# Secrets for RDO Cloud, personal instance of rdo_vm.example
ansible/group_vars/rdo-vm

# Secrets for RH AWS, personal instance of main.yml.example
ansible/roles/os-cluster/defaults/main.yml

# Credentials for deployed kubernetes/openshifts
creds/*

# Inventories and details
ansible/inventory/.ssh_key_name
ansible/inventory/*-inventory
