[masters]
{% for host in hosts if 'master' in host.groups %}
{{ host.host }} ansible_ssh_host={{ host.ip }}
{% endfor %}


#[lb]
#{% for host in hosts if 'master' in host.groups %}
#{{ host.host }} ansible_ssh_host={{ host.ip }}
#{% endfor %}

[etcd]
{% for host in hosts if 'master' in host.groups %}
{{ host.host }} ansible_ssh_host={{ host.ip }}
{% endfor %}

[nodes]
{% for host in hosts if 'master' in host.groups %}
# we make the master AIO because E2E testing tries to schedule pods to the master too expecting it to be labeled as worked.
{{ host.host }} ansible_ssh_host={{ host.ip }} openshift_node_group_name="node-config-all-in-one" host_key_checking=False ansible_ssh_extra_args='-o StrictHostKeyChecking=no'
{% endfor %}

{% for host in hosts if 'compute' in host.groups %}
{{ host.host }} ansible_ssh_host={{ host.ip }} openshift_node_group_name="node-config-compute" host_key_checking=False ansible_ssh_extra_args='-o StrictHostKeyChecking=no'
{% endfor %}

[OSEv3:children]
masters
nodes
etcd
#lb

[{{ cluster_name }}:children]
nodes

[openshift:children]
nodes

[OSEv3:vars]
ansible_user=centos
ansible_become=yes
openshift_deployment_type=origin
openshift_release="3.11"
openshift_master_default_subdomain=openshift.{{ hosts[0].ip }}.xip.io
openshift_enable_excluders=false
openshift_master_public_api_url=https://{{ hosts[0].ip }}.xip.io:8443
openshift_master_public_console_url=https://{{ hosts[0].ip }}.xip.io:8443
openshift_public_hostname={{ hosts[0].ip }}.xip.io
openshift_master_default_subdomain=apps.{{ hosts[0].ip }}.xip.io
openshift_public_ip={{ hosts[0].ip }}
openshift_web_console_install=false
openshift_cluster_monitoring_operator_install=false
openshift_enable_service_catalog=false
openshift_web_console_install=false
openshift_console_install=false
debug_level=2

# poors man cluster
openshift_disable_check=disk_availability,memory_availability,docker_storage
openshift_check_min_host_disk_gb=1
openshift_check_min_host_memory_gb=1


{% if pod_cidr is defined %}
# default is 10.128.0.0/14
osm_cluster_network_cidr={{ pod_cidr }}
{% endif %}


{% if service_cidr is defined %}
# default is 172.30.0.0/16, avoid 172.17.0.0/16 (docker0 range)
openshift_portal_net={{ service_cidr }}
{% endif %}

[{{ cluster_name }}:vars]
{% if ssh_private_key %}
ansible_ssh_private_key_file={{ ssh_private_key }}
{% endif %}
host_key_checking=false
ansible_ssh_common_args='-o StrictHostKeyChecking=no -o UserKnownHostsFile=/dev/null'
