apiVersion: v1beta3
baseDomain: {{baseDomain}}
compute:
- name: worker
  platform: {}
  replicas: {{num_workers}}
controlPlane:
  name: master
  platform: {}
  replicas: {{num_masters}}
metadata:
  creationTimestamp: null
  name: {{cluster_name}}
networking:
  clusterNetworks:
  - cidr: {{cidr}}
    hostSubnetLength: 9
  machineCIDR: {{machine_cidr}}
  serviceCIDR: {{service_cidr}}
  type: {{network_type}}
platform:
  aws:
    region: {{region}}
pullSecret: '{{pullSecret}}'
